html,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

* {
  box-sizing: inherit;
}

.container {
  max-width: 667px;
  margin: 0 auto;
}

.page {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 78px);
}

.link {
  color: black;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}

.drink-headline {
  margin: 0;
  padding: 0.5rem;
  flex-shrink: 0;
}

.drink-thumb {
  display: block;
  max-height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.instructions {
  line-height: 1.5;
  padding: 0 0.5rem;
}

.ingredients {
  padding-top: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ingredients-headline {
  margin: 0;
  padding: 0.5rem;
}

.ingredients-list {
  list-style-type: none;
  padding: 0;
}

.ingredient-item {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.ingredient-thumb {
  margin-right: 1rem;
  height: 4rem;
}

.footer {
  text-align: right;
  padding: 0.5rem;
}

.repo-link {
  color: black;
}
